<?php
define('DB_HOST',			'localhost');
define('DB_NAME',			'your_database_name');
define('DB_USER',			'your_database_user');
define('DB_PASSWORD',			'your_database_password');

define('DEBUG',				true);
define('DEBUG_LOGFILE',			'/var/log/tg-bots/dev-quest-bot.log');
define('APIKEY_HASH',			'aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000');
define('DDOS_MAXIMUM',			'10');
define('BRIDGE_MODE',			false);

define('MAINTAINER',			'@your_tg_username');
define('MAINTAINER_ID',			'your_tg_integer');
define('BOT_ID',			'Q');
define('BOT_NAME',			'@QuestPokemonBot');
define('BOT_ADMINS',			'');

// Languages
define('LANGUAGE_PRIVATE',             	'EN');
define('LANGUAGE_PUBLIC',       	'EN');

// Timezone and Google maps API 
define('TIMEZONE',			'Europe/Berlin');
define('MAPS_LOOKUP',			false); 
define('MAPS_API_KEY',			''); 

// Quest creation
define('QUEST_VIA_LOCATION',		true);
define('QUEST_LOCATION',		false);
define('QUEST_STOPS_RADIUS',		'50');
define('QUEST_HIDE_REWARDS',		true);
define('QUEST_HIDDEN_REWARDS',		'2,7,10,11,12,13,14,15,16,17,18,19');

// Quest sharing
define('SHARE_CHATS',			'');
define('SHARE_QUICK',                   '');

//Map settings
define('MAP_URL',   			'');

// Cleanup
define('CLEANUP',			false);
define('CLEANUP_LOGFILE',		'/var/log/tg-bots/dev-quest-bot-cleanup.log');
define('CLEANUP_SECRET',		'your-cleanup-secret/passphrase');
define('CLEANUP_QUEST_TELEGRAM',	true);
define('CLEANUP_QUEST_DATABASE',	true);
