{
  "DB_HOST":"localhost",
  "DB_NAME":"your_database_name",
  "DB_USER":"your_database_user",
  "DB_PASSWORD":"your_database_password",
  "DEBUG":"true",
  "DEBUG_LOGFILE":"/var/log/tg-bots/dev-quest-bot.log",
  "APIKEY_HASH":"aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000",
  "DDOS_MAXIMUM":"10",
  "BRIDGE_MODE":"false",
  "MAINTAINER":"@your_tg_username",
  "MAINTAINER_ID":"your_tg_integer",
  "BOT_ID":"Q",
  "BOT_NAME":"@QuestPokemonBot",
  "BOT_ADMINS":"",
  "LANGUAGE_PRIVATE":"EN",
  "LANGUAGE_PUBLIC":"EN",
  "TIMEZONE":"Europe/Berlin",
  "MAPS_LOOKUP":"false", 
  "MAPS_API_KEY":"", 
  "QUEST_VIA_LOCATION":"true",
  "QUEST_LOCATION":"false",
  "QUEST_STOPS_RADIUS":"50",
  "QUEST_HIDE_REWARDS":"true",
  "QUEST_HIDDEN_REWARDS":"2,7,10,11,12,13,14,15,16,17,18,19",
  "SHARE_CHATS":"",
  "SHARE_QUICK":"",
  "INVASION_VIA_LOCATION":"true",
  "INVASION_LOCATION":"false",
  "INVASION_STOPS_RADIUS":"50",
  "INVASION_DURATION_SHORT":"15",
  "INVASION_DURATION_LONG":"30",
  "INVASION_DURATION_EVENT":"30",
  "SHARE_INVASIONS":"",
  "MAP_URL": "",
  "PORTAL_IMPORT":"true",
  "CLEANUP":"false",
  "CLEANUP_LOGFILE":"/var/log/tg-bots/dev-quest-bot-cleanup.log",
  "CLEANUP_SECRET":"your-cleanup-secret/passphrase",
  "CLEANUP_QUEST_TELEGRAM":"true",
  "CLEANUP_QUEST_DATABASE":"true",
  "CLEANUP_INVASION_TIME_TG":"10",
  "CLEANUP_INVASION_TIME_DB":"10080"
}
