{
  "VERSION":"1.9.241.1",
  "DB_HOST":"localhost",
  "DB_NAME":"your_database_name",
  "DB_USER":"your_database_user",
  "DB_PASSWORD":"your_database_password",
  "DEBUG":true,
  "DEBUG_LOGFILE":"/var/log/tg-bots/dev-quest-bot.log",
  "APIKEY_HASH":"aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000",
  "MAINTAINER":"@your_tg_username",
  "MAINTAINER_ID":"your_tg_integer",
  "BOT_NAME":"@QuestPokemonBot",
  "BOT_ADMINS":"",
  "LANGUAGE_PRIVATE":"EN",
  "LANGUAGE_PUBLIC":"EN",
  "TIMEZONE":"Europe/Berlin",
  "QUEST_HIDE_REWARDS":true,
  "QUEST_HIDDEN_REWARDS":"2,7,10,11,12,13,14,15,16,17,18,19",
  "SHARE_CHATS":"",
  "SHARE_QUICK":"",
  "CLEANUP":false
}
